<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>OCR流式模板示例</title>
    <link href="./style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="jcanvas.min.js"></script>
</head>
<body>

<div class="container-fluid" id="main" style="width:100%">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="../fix/index.html" target="_blank">固定模板示例</a>
                &nbsp;&nbsp;
                <a class="text-muted" href="../client/index.html" target="_blank">模板匹配测试</a>

            </div>
            <div class="col-4 text-center">
                <h3>OCR流式模板</h3>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>


    <div>
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">

                    <input class="form-control mr-sm-4" style="width:700px;font-size:12px"  id="json_url_input"  type="search" v-model="data_url"
                           placeholder="填写AWS Textract 生成的json，用于生成新的模板" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button" v-on:click="get_json()" >新建模板</button>


                    <div class="spinner-grow text-dark" role="status" id="loading-icon">
                        <span class="sr-only">Loading...</span>
                    </div>

                </form>
            </nav>

            <div>


            </div>


    </div>

    <div class="row" >
        <div class="col-md-7" class="overflow-auto"  >
            <canvas id="myCanvas" width="960" height="1200"
                  style="border:1px solid #000000;">
        </canvas>
        </div>

        <!-- Right Start -->
        <div class="col-md-5">

            <div>
                <button type="button" class="btn btn-primary" v-on:click="add_table_block()">添加表格</button>
<!--                <button type="button" class="btn btn-primary" v-on:click="add_field()">添加字段</button>-->
            </div>


            <div  class="jumbotron" style="margin-top:20px;padding-top:30px;padding-bottom:20px" v-for="tableBlock of tableBlockList" >

                <h6>Table <span v-text="tableBlock.id"></span></h6>
                <ul>
                    <li><small>点击选择要选取的列</small></li>
                    <li><small>确认选择的元素是表格的表头， 并且在同一水平线上</small></li>
                </ul>
                <div  >
                    <table width="60%" style="font-size:13px;">
                        <tr>
                            <th width="10%"> Id</th>
                            <th width="40%">名称</th>
                            <th width="10%">多行</th>
                            <th width="15%">操作</th>
                        </tr>

                        <tr v-for="(thItem, index) of tableBlock.thItems" >
                            <td><span  v-text="index + 1" /></td>
                            <td><span  v-text="thItem.text" /></td>
                            <td><input   type="checkbox"  v-model="thItem.multi_line" /></td>
                            <td><a href="#" >删除</a></td>

                        </tr>


                    </table>


                </div>

                <div style="margin-top:10px">
                    <button type="button" class="btn btn-primary"  v-on:click="create_table_template()" >
                        创建表格 <span class="badge badge-light"  v-text="tableBlock.thItems.length"></span>
                    </button>
                    <button type="button" class="btn btn-light" v-on:click="delete_table_block($event)"
                            v-bind:name="tableBlock.id" >删除表格</button>

                </div>

                <table class="table-bordered" style="font-size:14px;margin-top:30px"  v-for="rowList of tableBlock.tableItems" >
                    <tr >
                        <th v-for="thItem of tableBlock.thItems" style="padding:4px" width="25%" >
                            <span v-text="thItem.text" style="padding:4px"></span>
                        </th>
                    </tr>


                    <tr v-for="row of rowList" >
                        <td v-for="tdItem of row" style="padding:2px" width="25%" >
                            <input  v-model="tdItem.value" style="width:100%"  v-if="tdItem.type  == 0" />

                            <textarea  v-model="tdItem.value" rows="3" v-if="tdItem.type != 0" ></textarea>
                        </td>




                    </tr>

                </table>


            </div>





        </div>

        <!-- Modal  start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">提示信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="myModalContent">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
<!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal  end -->
        <!-- Right End -->
    </div>

</div>

</body>
<script src="./ui.js"></script>
<script src="./index.js"></script>
<script src="../util.js"></script>
<!--<script source="./network.js"></script>-->

</html>